.~lock.carbon_nanotubes.csv#
.~lock.hour.csv#
.ipynb_checkpoints/PSO_Rastrigin-checkpoint.ipynb
regressao/.ipynb_checkpoints
trabalho_aula5/.ipynb_checkpoints/
trabalho_aula5/datasets
Trabalho/dados.csv
Trabalho/dados.csv
Trabalho/datasets/
trabalhoFinal/datasets
trabalhoFinal/1.LEIA-ME
